body{
    background-color: #2e2c2c;
}


.container{
   display: grid;

}
.header{
  padding-left: 230px;
  padding-top: 46px;
}
 .call{
  
    border: 1px solid #E4B564;
  width:218px;
  height:50px;
  position:absolute;
  top:37px;
  right:230px;
  text-decoration: none;
  text-align: center;
  }
  .call-text{
color: #E4B564;
font-size: 18px;
line-height: 30px;
padding-top: 10px;
}
.vector{
  float: left;
  position: absolute;
  left: 10%;
right: 12.77%;
top: 35%;
bottom: 12.5%;
  
  
  
} 


.text{
  display: grid;
    width: 599px;
    height: 28px;
    color: white;
    font-weight: 700;
    font-size: 50px;
    padding-left: 230px;
    padding-top: 207px;
}
.description{
    width: 1182px;
    height: 56px;
    padding-left: 230px;
    
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding-top: 41px;
}
 
  
  
 .grid div {
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height:28px ;
    }
    
    .grid {
    display: flex;
     }
    
    .grid-item-1 {
    display: grid;
    height: 468px;
    width: 467px;
    border-radius: 0px;
    background-color: #634F2C;
    place-items: center;
    margin-left: 230px;
    margin-top: 41px;
  
    }
    
    .grid-item-2 {
    display: grid;
    height: 468px;
    width: 467px;
    border-radius: 0px;
    background-color: #B4A385;
    place-items: center;
    margin-left: 34px;
    margin-top: 41px;
    text-align: center;
    }
    
    .grid-item-3 {
    display: grid;
    height: 468px;
    width: 467px;
    border-radius: 0px;
    background-color:#E4B564;
    place-items: center;
    margin-left: 25px;
    margin-top: 41px;
    }
    .container-grid div {
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        
        }
        
        .container-grid {
        display: flex;
         }
         .grid-item-4{
            display: grid;
    height: 468px;
    width: 715px;
    border-radius: 0px;
    background-color: #635A4A;
    place-items: center;
    margin-left: 230px;
    margin-top: 27px;
         }
.grid-item-5{
display: grid;

height: 468px;
            width: 715px;
            border-radius: 0px;
            background-color: #B08C4D;
            place-items: center;
            margin-left: 30px;
            margin-top: 27px;
         }
         .text-2{
          display: grid;
            margin-left: 230px;
            font-size: 50px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
            margin-top: 161px;

         }
         
         .grid-panel-second {
            display: grid;
            grid-template-columns: repeat(3,480px);
            grid-template-rows: repeat(3,315px);
            margin-left: 230px;
            margin-right: 230px;
            color: white;
            margin-top:94px ;
            
            
          }
           .grid-first {
            display: grid;
            background-color: #0E0E0E;
            grid-column:1/2 ;
            width: 467px;
            height: 313px; 
            }
            .text-customization-1{
              font-weight: 400;
              font-size: 20px;
              line-height: 25px;
              margin-left: 52px;
              margin-top: 44px;
              line-height: 25px;
            }
           
      
            
            
            .grid-second {
              background-color: #242424;
              
              grid-column: 2/3;
              grid-row: 1/-4;
              width: 467px;
              height: 439px;
              
            }
            .text-customization-2{
             
              font-weight: 400;
              font-size: 20px;
              line-height: 25px;
              margin-left: 51px;
              margin-top: 44px;
            }
              .grid-third {
                background-color: #1F1F1F;
                height: 255px;
                width: 467px;
                grid-column: 3/3;
                grid-row: 1/4;
                
                }
                .text-customization-3{
                margin-top: 44px;
                margin-left: 48px;
                font-weight: 500px;
                font-size: 20px;
                line-height: 25px;
                }
                .grid-fourth {
                  background-color: #1F1F1F;
                  grid-row: 2/4;
                  margin-top:24px;
                  width: 467px;
                  height:560px ;
                  
                  
                }
                .text-customization-4{
                  
                  font-size: 20px;
                  line-height: 25px;
                  font-weight: 500px;
                  margin-top: 56px;
                  margin-left: 52px;
                 }
                .grid-fifth{
                  background-color: #E4B564;
                  grid-row: 2/3;
                  grid-column: 2/3;
                  height: 425px;
                  width: 467px;
                  margin-top: 155px;
                  color: black;
                  
                  }
                  .text-customization-5{
                    font-weight: 500px;
                    size: 20px;
                    margin-left: 52px;
                    margin-top: 47px;
                    line-height: 25px;
                    font-size: 20px;
                  }
                  .grid-sixth{
                    background-color:#0E0E0E;
                    grid-column:3/3 ;
                    grid-row: 1/-3;
                    margin-top: 280px;
                    width: 467px;
                    height: 313px;
                  }
                  .text-customization-6{
                    font-weight: 500px;
                    size: 20px;
                    margin-left: 48px;
                    margin-top: 44px;
                    line-height: 25px;
                    font-size: 20px;
                  }
                  .grid-seventh{
                    background-color: #0A0909;
                    grid-column:3/3 ;
                    grid-row: 2/-2;
                    margin-top: 304px;
                    width: 467px;
                    height: 277px;
                    
                  }
                  .text-customization-7{
                    font-weight: 500px;
                    size: 20px;
                    margin-left: 48px;
                    margin-top: 44px;
                    line-height: 25px;
                    font-size: 20px;
                  }
                  .black-panel{
                    width: 1920px;
                    height: 1080px;
                    background-color: #0E0E0E;
                    margin-top: 100px;
                    
                  }
                  .clients{
                    font-weight: 700px;
                    font-size: 50px;
                    line-height: 28px;
                    color: #FFFFFF;
                    margin-left: 230px;
                   padding-top: 172px;
                  }
                  .project{
                    border: 1px solid #E4B564;
                  color: #E4B564;
                  text-align: center;
                  width: 144px;
                  height: 30px;
                  position: absolute;
                  top: 2680px;
                  right: 230px; 
                  justify-content: center;
                 line-height: 30px;
                  size: 18px;
                  margin-top: 240px;
                
                
                
                }
                  .panel {
                    display: grid;
                    grid-template-columns: repeat(3,487px);
                    grid-template-rows: repeat(2,391px);
                    margin-left: 230px;
                    margin-right: 230px;
                    color: white;
                    margin-top: 100px;
                    
                  }
                  .item-1{
                    grid-column: 1/2;
                    background-color: #634F2C;
                    display: grid;
                    place-items: center;

                  }
                  
                  
                .item-2 {
                  display: flex;
                  flex-direction: column;
                  background-color: #E8D2ABC2;
                  align-items: center; 
                  text-align: center;
                }
                
                .item-2 img:first-child {
                  width: 62px;
                  height: 55px;
                  padding-top: 61px;
                  
                  
                }
                
                .item-2 img:last-child {
                  width: 139px;
                  height: 55px;
                  padding-left: 173px;
                  padding-top: 3px;
                  
                }
                
                .text-mabuc {
                  padding-top: 16px;
                  font-size: 22px;
                  line-height: 28px;
                }
                 
                  
                
                    .item-3{
                      background-color: #E4B564;
                      display: grid;
                    place-items: center;

                    }
                    .item-4{
                    background-color: #635A4A;
                    display: grid;
                    place-items: center;

                    }
                    .item-5{
                    background-color: #B08C4D;
                    display: grid;
                    position: relative;
                    place-items: center;
                    font-size: 28px;
                    padding-left: 80px
                    }
                    .item-5 img:first-child {
                      position: absolute;
                      

                    }
                    .item-5 img:last-child {
                      position: absolute;
                      width: 3.69px;
                      height: 18.57px;
                     padding-left: 49px;
                     padding-bottom: 10px;

                      
                      
                    }

                    .item-6{
                    background-color: #634F2C;
                    display: grid;
                    place-items: center;

                    }                  
